<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home Page </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card *ngFor="let data of CreatedDataArray">

   
   <ion-card-header>
     <ion-card-subtitle style="color: var(--ion-color-primary);">Name : {{data.name}}</ion-card-subtitle>
     <ion-card-subtitle>Email : {{data.email}}</ion-card-subtitle>
     <ion-card-subtitle>To Meet : {{data.Personname}}</ion-card-subtitle>
     <ion-card-subtitle>Type Of Visit : {{data.type}}</ion-card-subtitle>
     <ion-card-subtitle>Entry : {{data.entry | date:'shortTime'}}</ion-card-subtitle>
     <ion-card-subtitle>Exit : {{data.exit |  date:'shortTime'}}</ion-card-subtitle>

    
   </ion-card-header>
    
  </ion-card>
  
</ion-content>
